<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% if not error %}
    <meta http-equiv="refresh" content="{{ wait_seconds }}"> 
    {% endif %}
    <title>Mendeley Add Citations</title>
</head>
<body>
<a href="/logout">Logout</a>

<h1>Adding citation counts...</h1>

<p>{{ session['process_id'] }}: {{ title }}
</p>

<p>
{% if error == 'blocked' %}
    Blocked by Google. Try again after few hours or even days.
{% elif error == 'http_error' %}
    HTTP error. See console.
{% else %}
    {{ num_citations }} citations, mendeley tag added.
{% endif %}
</p>

{% if not error %}
<p>
The page will be reloaded automatically to process next document. Waiting {{ wait_seconds }} seconds.
</p>
{% endif %}

</body>
</html>
